<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quote</title>
</head>
<body>
    <h2>All the animals</h2>
    <% for (user of users) { %>
        <p> <%= user.name %></p>
        
        <a href="/<%= user.id %>">show</a></button>
    <% } %>
        <button><a href='/new'>Add an animal</a></button>
   </body>
</html>
