<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Animal you selected</title>
</head>
    <body>
        <h1>You selected</h1>
        <p><%= user.name %></p>
        <button><a href="/<%= user.id %>/edit">Edit</a></button>
    <form action="/<%= user.id %>/destroy" method="post"><input type="submit" value="Delete" class="btn btn-default"></form>
   </body>
</html>
